@*/*Madhan KAMALAKANNAN 29/August/2021 */*@

@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "../../Pages/Shared/SOP_Purple_Layout_Login";
}

@*@{
        Layout = "SOP_Purple_Layout_Login";
    }*@

    <body ng-app="app">
    <h1 ng-controller="HelloWorldCtrl">{{message}}</h1>
    <script src="https://code.angularjs.org/1.6.9/angular.js"></script>
    <script>
        angular.module("app", []).controller("HelloWorldCtrl", function ($scope) {
            $scope.message = "Hello World"
        })
    </script>

</body>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>....</p>
</div>
