@*/*Madhan KAMALAKANNAN 29/August/2021 , Madhan.KAMALAKANNAN@outlook.com ,  Madhan.KAMALAKANNAN@gmail.com    */*@
@page
@using System.Text.Json;
@model OnlineShoppingCart.Pages.ProductModel

@{
    ViewData["Title"] = "Product";
    Layout = "~/Pages/Shared/_Layout.cshtml";

}
								    
<h1>Product </h1>



<!-- Title Page -->
	<section class="bg-title-page p-t-50 p-b-40 flex-col-c-m" style="background-image: url(images/heading-pages-02.jpg);padding-top:125px">
		<h2 class="l-text2 t-center" id="h2TagBannerTitle">
			Women
		</h2>
		<p class="m-text13 t-center">
			New Arrivals Collection @DateTime.Now.Year
		</p>
	</section>
		

	<!-- Content page -->
	<section class="bgwhite p-t-55 p-b-65">
		<div class="container">
			<div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
                    <div class="leftbar p-r-20 p-r-0-sm">
                        <!--  -->
                        <h4 class="m-text14 p-b-7">
                            Categories
                        </h4>
                        <!----Side Nav start-->
                        <div class="nestedsidemenuA">

                        </div>
                      
 
 <!--===============================================================================================-->
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
 
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
  <script>
  $( function() {

    $( "#slider-range" ).slider({
      range: true,
      min: 0,
      max: 500,
      values: [ 5, 450 ],
      slide: function( event, ui ) {
        $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
      }
      //alert('sd');
    });
    $( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) +
      " - $" + $( "#slider-range" ).slider( "values", 1 ) );
  } );


  </script>
 
  <h1 class="m-text14" style="padding-top: 14px;">
      Price Range <input type="text" id="amount"   style="border:0;color: #f6931f;font-size:12px;font-weight:;"/>
 </h1>



 
<div id="slider-range"></div>
 
 
                    </div>
                    </div> 

                <div class="col-sm-6 col-md-8 col-lg-9 p-b-50">
                    <!--  -->
                    <div class="flex-sb-m flex-w p-b-35">
                        <div class="flex-w" style="padding_:10px" >

         
                            <div class="search-product pos-relative bo4 of-hidden">
                                 @* <form  method="post">*@
                                     
                               <input id="searchWord" class="s-text7_ size6_ p-l-23_ p-r-50_" style="width:500px;border-color:aqua;border-width:1px" type="text" name="searchProduct" placeholder="Search Products..."/>

                                <button id="btnSearchProduct" class="flex-c-m size5 ab-r-m color2 color0-hov trans-0-4" type="button"      value="Submit">
                               <i class="fs-12 fa fa-search" aria-hidden="true"></i>
                               </button>
                                   @* }*@
                          
                           @* </form> *@ </div>
                            <div class="search-product pos-relative bo4 of-hidden" style="padding-left:10px" >
                                <select class="selection-2" name="sorting" id="SelectSorting" onchange="ChangeSort()">
                                   @* <option>Default Sorting</option>
                                    <option>Popularity</option>*@
                                    <option>Price: low to high</option>
                                    <option>Price: high to low</option>
                                </select>
                            </div>

               
                        </div>
                    </div>
 <!-- ProductList---------------------------------->
 <div id="divProducts"></div>
 <!-- ProductList--------End-------------------------->
                  
                </div>
			</div>
		</div>
	</section>
 
	<!----------------------------------------------->

 
<div id="divliTemplate" style="display:none">
      <ul>
<li id="~liPrdId~" class="header-cart-item">
	<div class="header-cart-item-img">
		<img width="260px" height="325px" src="~PRODUCTPIC~" alt="IMG">
	</div>																											

	<div class="header-cart-item-txt">
		<a href="#" class="header-cart-item-name">~DESC~</a>
		<span class="header-cart-item-info"><span id="idQuantity~liPrdId~">1</span> x $~PRICE~</span>
	</div>
</li>
      </ul>
</div>
	<!----------------------------------------------->
 

<script>
		    var  selectSortingOption ="";
            var currentPageGlb = 1;
            var pageLinkObjGlb = "";
             
    $(document).ready(function () {
         
        LoadSideMenu();
        // alert('fghfghfghfgh');
            selectSortingOption = $('#SelectSorting option:selected').val() ;
            // alert('ertyr');
          LoadProducts("",0,selectSortingOption,currentPageGlb,"");
  

	  });

 function CallThisMethod(currentPage,pageLinkObj)
{ 

    if(pageLinkObj=="")
    {
      pageLinkObj =  "#a_"+currentPage;
    }

  pageLinkObjGlb = pageLinkObj; 
  currentPageGlb = currentPage; 
  CallToLoad("",""); 
}

    function CallToLoad(filterWord, categoryName) {  
   // alert('filterWord:'+filterWord);
    var  selectSortingOption = $('#SelectSorting option:selected').val() ;
    var priceRange = $("#amount").val();
    LoadProducts("Product?handler=SearchProducts",priceRange,selectSortingOption,currentPageGlb,filterWord);
        
        if (categoryName!='')
        {
            $('#h2TagBannerTitle').html(categoryName);
        }
        //cateParentNode.CategoryName
        //

}

$("#btnSearchProduct").click(function (e) {

    var ttxtObj = "#searchWord";
    vTxtObj = $(ttxtObj).val();
  
    if (vTxtObj == "" || vTxtObj == null) {
      e.preventDefault(); 
    }
    else
    {    
       CallThisMethod(currentPageGlb,"");
    }
});

 $("#btnSearchProduct").dblclick(function (e) {
     window.location.href="Product";
 });

   $("#amount").click(function (e) {

            //alert( $("#amount").val() );
   });
    
   $("#amount").change(function (e) {

          // alert($(this).val() );
   });

 $( "#slider-range").click(function (e) {

     CallThisMethod(currentPageGlb,"");

   });


function ChangeSort()
{
   //alert(currentPageGlb);
     CallThisMethod(currentPageGlb,"");
}
function SetBGColor()
{
   if(pageLinkObjGlb!="")
   {
     //alert('SetBGColor:'+$(pageLinkObjGlb).attr("id"));//cssColor
        $(pageLinkObjGlb).css("background-color","#895b7d;");
   }
}
  </script>

  <script>
 
function LoadProducts(purl,priceRange,selectSortingOption,currentPage,filterWord) {
      
   var searchMode ="1";

    var urlForProds= purl;
      if(purl==""){
            urlForProds= "Product?handler=SearchProducts"; //"Product?handler=Products";
      }
     
      var srchWrd = $("#searchWord").val();
      if(filterWord!="")
      {
        searchMode ="0";//Side Menu click Event
        srchWrd = filterWord ;

         $("#searchWord").val('');
      }
    
    $.ajax({
        type: "GET",
        url: urlForProds,
         data: { searchWord: srchWrd,priceRange:priceRange,selectSortingOption:selectSortingOption,currentPage:currentPage,searchMode:searchMode },
    
       //data: { jsonInput: jsonInput1 },
        contentType: "application/json; charset=utf-8",
        dataType: "html",
        success: function (response) {

             $('#divProducts').html(response);  
            //$("#searchWord").val(@TempData["searchWord"]); 
            // console.info('LoadProducts:'+response );
            SetBGColor();
        },
        failure: function (response) {
           //alert("failure:"+response.responseText);
        },
        error: function (response) {
           // alert(response.responseText);
            $('#divProducts').html('');
            $('#divProducts').append(response.responseText);
        }
    });
} 
     
  </script>
 
 