@*/* Author: Madhan KAMALAKANNAN  , Madhan.KAMALAKANNAN@outlook.com ,  Madhan.KAMALAKANNAN@gmail.com
 Created : Created 29/Aug/2021
 Modified: 12/Dec/2021  
 */*@

@{
    ViewData["Title"] = "EditSingleList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>EditSingleList</h1>

